.card {
    transition: all 0.2s ease;
}

/* Hover apenas para telas >= 1024px (lg) */
@media (min-width: 1024px) {
    .card:hover {
        transform: perspective(900px) translateY(-5%) rotateX(20deg) translateZ(0);
    }
}

/* Para todos os navegadores modernos */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;     /* Firefox */
}
