.card {
    transition: all 0.2s ease;
}

/* Hover apenas para telas >= 1024px (lg) */
@media (min-width: 1024px) {
    .card:hover {
        transform: perspective(900px) translateY(-5%) rotateX(20deg) translateZ(0);
    }
}
